<div id="{{unit['_id']}}" class="ex-unit-card bordered">
    <a class="unit-modal ex-unit-card-unit" href="#tab-{{unit['name'].replace(' ', '_')}}" data-toggle="modal" data-target="#{{unit['name'].replace(' ', '_')}}-modal">
        <img id="{{unit['_id']}}-image" class="unit-image seven-star-unit" src="../static/img/units/{{unit['_id']}}.png" data-toggle="tooltip" data-placement="top" title="{{key}}">
    </a>
    <input id="{{unit['_id']}}-number" data-unit="{{unit['_id']}}" data-unit-name="{{unit['name']}}" class="unit-input ex-unit-card-input" type="number" min="0" value="0" max="10" step="1" />
    <span class="pet-modal ex-unit-card-pet" data-toggle="modal" data-target="#{{unit['pet']['name'].replace(' ', '_')}}-modal">
        <img id="{{unit['pet']['name'].replace(' ', '_')}}-image" class='pet-image' src="../static/img/pets/{{unit['pet']['_id']}}.png" data-pet="{{unit['pet']['name'].replace(' ', '_')}}" data-unit="{{unit['_id']}}" data-toggle="tooltip" data-placement="top" title="{{unit['pet']['name']}}">
    </span>
    <div class="ex-unit-card-buffs">
        {% for buff in unit["buffs"] %}
            <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                <div class='progress'>
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}" data-linked-multiplier="{{buff['linked_multiplier']}}">0/{{buff["requirement"]}}
                    </div>
                </div>
            </span>
        {% endfor %}
    </div>
</div>