html,
body {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  font-size: 10px;
}

.centered-row {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media all and (max-width: 768px) {
  .meta-img {
    max-width: 100vw;
  }
}

@media all and (max-width: 768px) {
  .col-padding-mobile {
    padding: 5px;
  }
}

@media all and (max-width: 768px) {
  .unit-image, .pet-image {
    max-width: 35px;
  }
}

@media all and (max-width: 768px) {
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin-bottom: 2%;
  }
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.form-control { 
  display: inline;
  text-align: center;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  max-width: 80%;
 }

.col-md-3 { padding-bottom: 15px }

.unit-input {
  margin-top: 2%;
}

.unit-bar {
  margin-top: 5%;
}

#images{
  text-align:center;
}

#inputs{
    text-align:center;
}

.progress-bar-green {
  background-color: #1ca51c !important;
  text-align: center; 
}

.progress-bar-red {
  background-color: #ce2323 !important;
  text-align: left; 
}

.progress-bar-hidden {
  visibility: hidden;
}

.progress-bar {
  background-color: #ce2323;
}

.progress {
  height: 1.75rem;
  font-size: 1.5rem;
  background-color: #999999;
}

.popover {
    background-color: #cccccc;
    max-width: 40%;
}

.popover-header {
    color: black;
    background-color: #cccccc;
    font-size: 20px;
}

.popover-body {
    color: black;
    background-color: #999999;
    font-size: 18px;
    max-width: 100%;
}

.five-star-pet {
  filter: drop-shadow(rgb(30, 220, 30) 1px 1px 5px);
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.row {
  max-width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.col-md-5, .col-md-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.super-row {
  margin-top: 0.5%;
}

/*image gallery*/
.image-checkbox {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  outline: 0;
}
.image-checkbox input[type="checkbox"] {
  display: none;
}

.image-checkbox-checked {
  border-color: #4783B0;
}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}

img.img-responsive {
    max-width: 15px;
}

fieldset {
  padding: 0px;
}

.zero-star, .one-star, .two-star, .three-star, .four-star, .five-star {
    border-width: 1px;
    border-style: solid;
}

.zero-star {
  opacity: 0.6;
  filter: brightness(60%);  
  border-color: rgb(85, 85, 85);
  background: #292929;
}

.one-star {
  border-color: rgb(170, 170, 170);
  background: radial-gradient(circle, #333 0%, #333 0%, rgba(170, 170, 170, 0.3));
}

.two-star {
    border-color: rgb(98, 145, 3);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(98, 145, 3, 0.3));
}

.three-star {
  border-color: rgb(50, 150, 347);
  background: radial-gradient(circle, #333 0%, #333 0%, rgba(50, 150, 347, 0.3));
}

.four-star {
  border-color: rgb(200, 51, 200);
  background: radial-gradient(circle, #333 0%, #333 0%, rgba(200, 51, 200, 0.3));
}

.five-star {
  border-color: rgb(224, 49, 6);
  background: radial-gradient(circle, #333 0%, #333 0%, rgba(224, 49, 6, 0.3));
}

.padding-0, .padding-sm, .padding-md {
  margin: 0px !important;  
}

.padding-0 {
  padding: 0px !important;
}

.padding-sm {
  padding: 2px !important;
}

.padding-md {
  padding: 5px !important;
}

.pet-modal:hover, .unit-modal:hover {
    cursor:pointer;
}

.modal-content{
  text-align: left;
  background-color: #111;
  font-size: 14px;
}

h1 {
  text-align:center;
  font-size: 4em;
}

#gem-image {
  max-width: 20px;
}

td:hover {
    cursor:pointer;
    }

.table td {
  padding: 0px;
}

.pet-image, .unit-image { 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-height: 40px;
}

.modal-title {
  margin-bottom: auto;
  margin-top: auto;
}

.unit-modal-image, .pet-modal-image{
  display: inline-block;
  margin-right: auto;
  max-height: 40px; 
}

.col-kl{
  padding: 0px; 
  font-weight: bold;
  font-size: 12px;
  color: #ce2323; 
}

.sortable-ghost {
  background-color: #333;
}

.row-hidden {
  visibility: hidden;
}

.col-green {
  color: #1ca51c !important;
}

.col-red {
  color: #ce2323 !important;
}

.col-fragments {
  text-align: left;
}

.col-fragments p {
  font-size: 20px;
  font-weight: 600;
  color: #1ca51c !important;
  margin: 0;
}

@media all and (max-width: 768px) {
  .col-fragments {
    text-align: center;
  }
}

.zero-fragments {
  display:none
}

.btn-md {
  padding: 6px 12px;
}

.col-2{
  padding: 0px;
}

.page-footer {
  font-size: 12px;
}