/* All pages
   ========================================================================== */
:root{
    --text-normal: #d3d4d5;
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-link: #29abe2;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-modifier-hover: #29abe2;
}
 .noselect {
 -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}
body, html{
    background-color:#26292f;
    font-family: Arial,Helvetica,sans-serif;
    color: var(--text-normal);
    font-size:14px;
    margin:0;
}

#logo-image{
    max-height: 38.5px;
}
#logo{
    max-width: 80%;
    justify-self: center;
}
#discord-button, #paypal-button{
    padding:0px;
}
#discord-button:hover, #paypal-button:hover{
    background-color:#17191a;
}
#discord-button a:hover, #paypal-button a:hover{
    text-decoration: none;
}
#paypal-button>a{
    padding-right: 10.5px;
}
#discord-image, #paypal-image{
    height: 32.19px;
    margin-bottom: 1px;
    margin-top: 1px;
}
.input-group{
    height: 1.75rem;
}
.input-group *{
    font-size:14px;
    height: inherit;
    padding: 0;
}
.input-group-append button, .input-group-prepend button{
    border-color: #999;
    color: var(--text-normal);
    border-radius: 5px;
    min-width:2rem;
}

.form-control{
    background-color: #999;
    border: none;
    color: #fff;
}
p{
    margin:0;
    padding:0;
}
.bordered{
    border: 2px solid #999;
    border-radius: 5px;
}
.unit-image, .pet-image, .artifact-image {
    max-height: 45px;
}
.gem-image{
    max-width:20px
}
@media all and (max-width:768px){
    .pet-image, .unit-image, .artifact-image{
        max-height:40px;
    }
}
.progress{
    font-size:14px;
    background-color:#999;
    height:1.25rem;
}
.page-footer{
    font-size:12px;
    align-self:center;
    justify-self:center;
}
.hidden{
    visibility:hidden;
}
.pet-modal:hover,.unit-modal:hover{
    cursor:pointer
}
h4{
    font-size:16px;
    margin:0;
}
.nav-tabs{
    border-bottom: 1px solid #999;
}
.version-underline{
    border-bottom:2px solid #999;
}
.version-header{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
.modal{
    max-width:70%
    background-color:#26292f;
}
.modal-header{
    padding: 5px;
    color:var(--text-normal);
    background-color:#17191a;
    font-size:16px;
    border-bottom: 1px solid #999;
    margin-bottom: auto;
    margin-top: auto;
}
.modal-header button{
    padding: 0;
    margin: 5px 5px 5px auto;
    color: var(--text-normal);
    background-color: #17191a;
    border: none;
    cursor: pointer;
    text-shadow: none;
    font-size: 2.2rem;
}
.modal-header button:focus{
    outline-color:#999;
}
.modal-header button:hover{
    color:rgba(194,212,213,.65)!important;
}
.modal-title, .modal-header>img{
    margin: auto 5px;
}
.modal-title{
    color: #fff;
    font-weight: bold;
}
.modal-content{
    color:var(--text-normal);
    background-color:#26292f;
    font-size:14px;
    max-width:100%;
}
.nav-tabs .nav-link{
    border: 2px solid #999;
    color: var(--text-normal);
    margin: 2px;
}
.nav-tabs .nav-link.active{
    background-color: var(--text-normal);
    border: 2px solid #999;
    color: #17191a;
}
.stat-modal{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(6,1fr);
    grid-template-areas:
    ". kl-label kl ."
    "hide hide unattainable unattainable"
    "shn-label shn-label shh-label shh-label"
    "shn-tickets-label shn-tickets shh-tickets-label shh-tickets"
    "shn-refills-label shn-refills shh-refills-label shh-refills"
    "shn-gems shn-gems shh-gems shh-gems"
}
.stat-modal>*{
    justify-self:center;
    align-self:center
}
.stat-modal-kl-label{
    grid-area:kl-label
}
.stat-modal-kl{
    grid-area:kl
}
.stat-modal-hide{
    grid-area:hide
}
.stat-modal-unattainable{
    grid-area:unattainable
}
.stat-modal-shn-label{
    grid-area:shn-label
}
.stat-modal-shh-label{
    grid-area:shh-label
}
.stat-modal-shn-tickets-label{
    grid-area:shn-tickets-label
}
.stat-modal-shn-tickets{
    grid-area:shn-tickets
}
.stat-modal-shh-tickets-label{
    grid-area:shh-tickets-label
}
.stat-modal-shh-tickets{
    grid-area:shh-tickets
}
.stat-modal-shn-refills-label{
    grid-area:shn-refills-label
}
.stat-modal-shn-refills{
    grid-area:shn-refills
}
.stat-modal-shh-refills-label{
    grid-area:shh-refills-label
}
.stat-modal-shh-refills{
    grid-area:shh-refills
}
.stat-modal-shn-gems{
    grid-area:shn-gems
}
.stat-modal-shh-gems{
    grid-area:shh-gems
}

@media screen and (max-width:600px){
    .stat-modal{
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(11,1fr);
        grid-template-areas:
        "kl-label kl"
        "hide hide"
        "unattainable unattainable"
        "shn-label shn-label"
        "shn-tickets-label shn-tickets"
        "shn-refills-label shn-refills"
        "shn-gems shn-gems"
        "shh-label shh-label"
        "shh-tickets-label shh-tickets"
        "shh-refills-label shh-refills"
        "shh-gems shh-gems"
    }
    .stat-modal-kl-label,
    .stat-modal-shn-tickets-label, .stat-modal-shh-tickets-label,
    .stat-modal-shn-refills-label, .stat-modal-shh-refills-label{
        justify-self:left;
    }
}

.checkbox-lg .custom-control-label{
    margin: auto 0;
    padding: 0 5px;
}
.checkbox-lg .custom-control-label::after {
    top: 0.1rem;
    right: 0;
    width: 1.3rem;
    height: 1.3rem;
    margin: auto 0;
}
.custom-control-label::before{
    top: 0.1rem;
    width: 1.3rem;
    height: 1.3rem;
}.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: #1ca51c;
}
/* Navbar
   ========================================================================== */
.navbar, .navbar *{
    background-color:#17191a;
}
/* Fixes the text for all elements in the navbar */
.navbar-dark.navbar *{
    color: var(--text-normal);
    font-weight: bold;
    font-size: 16px;
}
/* Changes default color for links in a .navbar-dark */
.navbar-dark .navbar-nav .nav-link{
    color:var(--text-normal);
}
/* Changes default hover color for links and dropdown-items and brand in a .navbar-dark */
.navbar-dark .navbar-nav .nav-link:hover, .dropdown-menu>.dropdown-item:hover, .navbar-dark .navbar-brand:hover{
    color:rgba(194,212,213,.65);
}
/* Makes the brand name slightly smaller*/
.navbar-brand{
    font-size:16px;
}
/* Keeps background color the same when hovered*/
.navbar .dropdown-menu>.dropdown-item:hover{
    background-color:#17191a;
}
.navbar .btn:hover {
    background-color:var(--text-normal);
    border-color:var(--text-normal);
    color:#17191a;
}
#paypal-button{
    color:var(--text-normal);
}
.navbar .btn{
    margin-top: 2px;
    margin-bottom: 2px;
}
.navbar .dropdown-menu>.btn:hover{
    background-color:#17191a;
    border-color:none;
    color:rgba(194,212,213,.65);
}
.navbar-dark .navbar-nav .show>.nav-link{
    color:rgba(194,212,213,.65);
}
@media screen and (min-width: 992px){
    .navbar-collapse>.btn{
        margin-right: 2px;
        margin-left: 2px;
    }
}

.animate {
animation-duration: 0.3s;
-webkit-animation-duration: 0.3s;
animation-fill-mode: both;
-webkit-animation-fill-mode: both;
}


@keyframes slideIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(-1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/* Home Page
   ========================================================================== */
/* Define desktop grid */
.index-container{
    display:grid;
    height:calc(100% - 60px - 4em);
    grid-gap:5px;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr auto auto;
    grid-template-areas:"title title" "purpose pet-usage" "unit-usage addition";
    padding-top: 10px;
}
/* Define changes for mobile grid */
@media screen and (max-width:768px){
    .index-container{
        grid-template-columns:1fr;
        grid-template-rows:repeat(6, min-content);
        grid-template-areas:"title" "purpose" "pet-usage" "unit-usage" "addition"
    }
    .index-container>*{
        border-style: hidden!important;
    }
}
/* Define grid areas */
.index-title{
    grid-area:title;
    display:grid;
    justify-content:center;
    align-content:center
}
.index-purpose{
    grid-area:purpose;
}
.index-pet-usage{
    grid-area:pet-usage;
}
.index-unit-usage{
    grid-area:unit-usage;
}
.index-addition{
    grid-area: addition;
}
.index-addition a{
    color: var(--text-link);
}
/* Styling the grid items that represent content */
.index-purpose, .index-pet-usage, .index-unit-usage, .index-addition{
    padding:1%;
}
.index-container .index-title h1{
    margin: 0;
    font-size: 40px;
}
.index-container h2.col-12{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
p.col-12>b {
    color: #fff;
}
/* Pet Pages
   ========================================================================== */
.nav-tabs{
    border: none;
}
.pet-card-kl div.green {
    color: #1ca51c;
}
.pet-card.invisible, .pet-card-other.invisible,
.pet-card.unattainable, .pet-card-other.unattainable{
    display:none
}
.five-star,.four-star,.one-star,.three-star,.two-star,.zero-star{
    border-width:1px;
    border-style:solid
}
.zero-star{
    opacity:.8;
    filter:brightness(90%);
    border-color:#555;
    background:#292929
}
.one-star{
    border-color:#aaa;
    background:radial-gradient(circle,#333 0,#333 0,rgba(170,170,170,.3))
}
.two-star{
    border-color:#629103;
    background:radial-gradient(circle,#333 0,#333 0,rgba(98,145,3,.3))
}
.three-star{
    border-color:#3296ff;
    background:radial-gradient(circle,#333 0,#333 0,rgba(50,150,347,.3))
}
.four-star{
    border-color:#c833c8;
    background:radial-gradient(circle,#333 0,#333 0,rgba(200,51,200,.3))
}
.five-star{
    border-color:#e03106;
    background:radial-gradient(circle,#333 0,#333 0,rgba(224,49,6,.3))
}
#dragable-row{
    background-color:#26292f;
    padding:5px;
}
.pet-container{
    display:grid;
    width:80%;
    grid-gap:5px;
    grid-template-columns:1fr;
    grid-template-rows:50px minmax(min-content, 150px) 1fr 12px;
    grid-template-areas:"buttons" "trackers" "pets" "footer";
    justify-content:center;
    align-content:center;
    margin:auto;
}
@media screen and (max-width:600px){
    .pet-container{
        width:70%;
    }
}
.pet-container-other{
    display:grid;
    width:80%;
    grid-gap:5px;
    grid-template-columns:1fr;
    grid-template-rows:minmax(min-content, 150px) 1fr 12px;
    grid-template-areas: "nav" "pets" "footer";
    justify-content:center;
    align-content:center;
    margin:auto
}

.pet-container>*, .pet-tracker, .pet-container-other>*{
    justify-self:center;
    align-self:center;
}
.pet-tracker{
    display: grid;
}
.pet-tracker>*{
    justify-self:center;
}
.pet-tracker>p{
    text-align: center;
}
.pet-nav-other{
    margin-top: 10px;
    grid-area: nav;
}

.pet-buttons{
    grid-area:buttons;
}
.pet-trackers{
    grid-area:trackers;
    display:grid;
    width:100%;
    height:100%;
    grid-template-columns:repeat(6,minmax(min-content,1fr));
}
@media screen and (max-width:600px){
    .pet-trackers{
        grid-template-columns:repeat(4,minmax(min-content,1fr))
    }
}
.pet-pets{
    grid-area:pets;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    justify-content:center;
    align-content:center;
}
@media screen and (max-width:630px){
    .pet-pets{
        grid-template-columns:repeat(2,1fr);
    }
}
@media screen and (min-width:630px){
    .pet-pets{
        grid-template-columns:repeat(3,1fr);
    }
}
@media screen and (min-width:840px){
    .pet-pets{
        grid-template-columns:repeat(4,1fr);
    }
}
@media screen and (min-width:1050px){
    .pet-pets{
        grid-template-columns:repeat(5,1fr);
    }
}
@media screen and (min-width:1260px){
    .pet-pets{
        grid-template-columns:repeat(6,1fr);
    }
}
@media screen and (min-width:1470px){
    .pet-pets{
        grid-template-columns:repeat(7,1fr);
    }
}
@media screen and (min-width:1680px){
    .pet-pets{
        grid-template-columns:repeat(8,1fr);
    }
}
.pet-pets .pet-card:hover{
    background-color:#393c3f;
    cursor:pointer;
}
.pet-card{
    display:grid;
    grid-gap:1px;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1.5fr 1fr 1fr .8fr;
    grid-template-areas:"pet frags name" "stars stars stars" "input input input" "kl kl kl";
    padding: 5% 1% 1% 1%;
    margin: 1%;
}
@media screen and (max-width:630px){
    .pet-card{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1.5fr 0.8fr 0.5fr 1fr 0.5fr;
        grid-template-areas:
            "pet frags"
            "name name"
            "stars stars"
            "input input"
            "kl kl";
    }
}

.pet-card>*, .pet-card-other>*{
    justify-self:center;
    align-self:center;
}

.pet-card-other{
    display:grid;
    grid-gap:1px;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1.5fr 1fr 1fr;
    grid-template-areas:"pet name" "stars stars" "input input";
    padding: 5% 1% 1% 1%;
    margin: 1%;
}

.pet-card-pet{
    grid-area:pet;
}
.pet-card-frags{
    grid-area:frags;
    font-size:20px;
    font-weight:bold;
    color:#1ca51c;
    margin:0;
}
.pet-card-name{
    grid-area:name;
    text-align:center;
}
.pet-card-stars{
    grid-area:stars;
    padding:0;
}
.image-checkbox{
    cursor:pointer;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin-bottom:0;
    outline:0
}
.image-checkbox input[type=checkbox]{
    display:none
}
img.img-responsive{
    max-width:15px
}
.pet-card-input{
    width:80%;
    grid-area:input;
    justify-content:center;
    align-content:center;
}
.pet-card-kl{
    grid-area:kl;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-content:center;
    align-content:center;
    justify-self: normal;
}
.pet-card-kl div{
    font-weight:bold;
    color:#ce2323;
    justify-self:center;
}
.pet-footer{
    grid-area:footer
}
/* Unit Page
   ========================================================================== */
.five-star-unit{
    outline:2px solid #ac081d;
    background:radial-gradient(circle,#333 0,#333 0,rgba(172,8,29,.3));
}
.six-star-unit{
    outline:2px solid #bca45a;
    background:radial-gradient(circle,#333 0,#333 0,rgba(188,164,90,.3));
}
.seven-star-unit{
    outline:2px solid #f70294;
    background:radial-gradient(circle,#333 0,#333 0,rgba(247,2,148,.3));
}
.five-star-pet{
    filter:drop-shadow(#1ca51c 1px 1px 10px);
}
.unit-nav-container{
    display: grid;
    justify-content: center;
}
/* Define desktop grid */
.unit-container{
    display:grid;
    width:90%;
    grid-gap:5px;
    grid-template-columns:repeat(4,1fr);
    justify-content:center;
    align-content:center;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
}
/* Define changes for mobile grid */
@media screen and (max-width:1200px){
    .unit-container{
        grid-template-columns:repeat(2,1fr);
        width:80%;
    }
}
/* Define unit card grid */
.unit-card{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1.7fr .7fr auto;
    grid-template-areas:"jr-unit sr-unit pet" "jr-input sr-input ." "buffs buffs buffs";
    grid-gap:5px;
    padding:2%;
}
/* Define changes for mobile unit card grid */
@media screen and (max-width:600px){
    .unit-card{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1.7fr .7fr auto;
        grid-template-areas:"jr-unit sr-unit pet" "jr-input jr-input pet" "sr-input sr-input ." "buffs buffs buffs";
    }
}
@media screen and (max-width:768px){
    .unit-card{
        grid-template-columns:1fr 1fr 0.5fr;
    }
}
.unit-card>*{
    justify-self:center;
    align-self:center;
}
/* Define grid areas */
.unit-card-jr-unit{
    grid-area:jr-unit;
}
.unit-card-sr-unit{
    grid-area:sr-unit;
}
.unit-card-pet{
    grid-area:pet;
}
.unit-card-jr-input{
    grid-area:jr-input;
}
.unit-card-sr-input{
    grid-area:sr-input;
}
/* Buffs get their own little grid */
.unit-card-buffs{
    grid-area:buffs;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:3px;
    justify-self:normal;
    justify-content:center;
    align-content:center;
}
.ex-unit-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.7fr 0.7fr auto;
    grid-template-areas:
        "unit pet"
        "input ."
        "ex-buffs ex-buffs"
        ;
    grid-gap: 5px;
    padding: 2%;
}
/* Define changes for mobile ex unit card grid */
@media screen and (max-width:600px){
    .ex-unit-card{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1.7fr .7fr auto;
        grid-template-areas:
        "unit unit pet"
        "input input ."
        "ex-buffs ex-buffs ex-buffs";
    }
}
.ex-unit-card>*{
    justify-self:center;
    align-self:center;
}
.ex-unit-card-unit{
    grid-area:unit;
}
.ex-unit-card-pet{
    grid-area:pet;
}
.ex-unit-card-input{
    grid-area:input;
}
.ex-unit-card-buffs{
    grid-area:ex-buffs;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:3px;
    justify-self:normal;
    justify-content:center;
    align-content:center;
}
/* Popover for the progress bars*/
.popover{
    max-width:70%
    background-color:#26292f;
    border:2px solid #999;
    border-radius: 5px;
}
.popover-header{
    color:var(--text-normal);
    background-color:#17191a;
    font-size:16px;
    border-bottom: 1px solid #999;
}
.popover-body{
    color:var(--text-normal);
    background-color:#26292f;
    font-size:14px;
    max-width:100%;
}
/* Ticket Page
   ========================================================================== */
/* Define grid for the table*/
.ticket-container{
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    height:calc(100% - 60px - 4em);
    width:50%;
    grid-gap:1px;
    grid-template-columns:1fr;
}
@media screen and (max-width:768px){
    .ticket-container{
        width:70%;
    }
}
@media screen and (max-width:600px){
    .ticket-container{
        width:90%;
    }
}
/* Define grid for a single row */
.ticket-row{
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:2fr 2fr 5fr;
    margin: 5px 0 0 0;
}
.ticket-row>*{
    align-self:center;
    justify-self:center;
}
.ticket-row-progress{
    width:80%;
}
.ticket-footer{
    align-self:center;
    justify-self: center;
}
/* Meta Page
   ========================================================================== */
/* Define mobile grid */
.meta-container{
    display:grid;
    height:calc(100% - 60px - 4em);
    margin:2em;
}
/* Define changes for mobile grid */
@media screen and (max-width:768px){
    .meta-container{
        height:calc(100% - 50px - 2em);
        margin:5px 5px 0 5px;
    }
}
/* Fix the size and location of the meta progression image */
.meta{
    width:min(100%,1349px);
    align-self:center;
    justify-self:center;
}
@media screen and(max-width:600px){
    .meta{
        width:100%;
        height:auto;
    }
}
