<div class="modal fade" id="stats-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bordered">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Settings</h5>
                <button type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body stat-modal">
                <div class="stat-modal-kl-label">
                    Knightage Level
                </div>
                <input id="KL-number" class="user-input stat-modal-kl" type="number" min="1" value="0" step="1" />
                <div class="custom-control custom-checkbox checkbox-lg stat-modal-hide">
                    <input id="hide-five-star-pets" type="checkbox" class="custom-control-input" unchecked>
                    <label class="custom-control-label" for="hide-five-star-pets">Hide 5* Pets</label>
                </div>
                <div class="custom-control custom-checkbox checkbox-lg stat-modal-unattainable">
                    <input id="hide-unattainable-pets" type="checkbox" class="custom-control-input" unchecked>
                    <label class="custom-control-label" for="hide-unattainable-pets">Hide unattainable Pets</label>
                </div>
                <div class="stat-modal-shn-label">
                    Spirit Highlands Normal
                </div>
                <div class="stat-modal-shh-label">
                    Spirit Highlands Hard
                </div>
                <div class="stat-modal-shn-tickets-label">
                    Tickets
                </div>
                <input id="tickets-number" class="user-input stat-modal-shn-tickets" type="number" min="10" value="0" step="1" />
                <div class="stat-modal-shh-tickets-label">
                    Tickets
                </div>
                <input id="tickets_hard-number" class="user-input stat-modal-shh-tickets" type="number" min="5" value="0" step="1" />
                <div class="stat-modal-shn-refills-label">
                    Refills
                </div>
                <input id="refills-number" class="user-input stat-modal-shn-refills" type="number" min="0" max="6" value="0" step="1" />
                <div class="stat-modal-shh-refills-label">
                    Refills
                </div>
                <input id="refills_hard-number" class="user-input stat-modal-shh-refills" type="number" min="0" max="3" value="0" step="1" />
                <div class="stat-modal-shn-gems"> <img class="gem-image" id="gem-image" src="../static/img/gem.png">
                    <label id="gem-label" for="gem-image">0</label></div>
                <div class="stat-modal-shh-gems"> <img class="gem-image" id="gem-hard-image" src="../static/img/gem.png">
                    <label id="gem-hard-label" for="gem-hard-image">0</label></div>
            </div>
        </div>
    </div>
</div>