html,
body {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  font-size: 10px;
}

.centered-row {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

@media all and (max-width: 768px) {
  .col-padding-mobile {
    padding: 5px;
  }
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.form-control { 
  display: inline;
  text-align: center;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  max-width: 80%;
 }

.col-md-3 { padding-bottom: 15px }

img { 
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-height: 40px;
}

#unit-table{
  margin-right: 0%;
  margin-left: 0%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.unit-input {
  margin-top: 2%;
}

.unit-bar {
  margin-top: 5%;
}

#images{
    text-align:center;
}

#inputs{
    text-align:center;
}

.progress-bar-green {
      background-color: #1ca51c !important;
      text-align: center; 
}

.progress-bar-red {
      background-color: #ce2323 !important;
      text-align: left; 
}

.progress-bar-hidden {
  visibility: hidden;
}

.progress {
  height: 1.75rem;
  font-size: 1.5rem;
  background-color: #999999;
}

.popover {
    background-color: #cccccc;
    max-width: 25%;
}

.popover-header {
    color: black;
    background-color: #cccccc;
    font-size: 20px;
}

.popover-body {
    color: black;
    background-color: #999999;
    font-size: 18px;
}

.five-star-pet {
  filter: drop-shadow(rgb(30, 220, 30) 1px 1px 5px);
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  max-width: 10px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0px;
}

.row {
  margin-bottom: 0.5%;
}

.col-md-5, .col-md-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.super-row {
  margin-top: 0.5%;
}