html,
body {
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    font-size: 10px;
    margin: 0;
    height: 100vh;
}

p {
    margin: 0px;
}

.version-underline {
    border-bottom: 1px solid hsla(0,0%,100%,.8);
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.pt-1 {
    padding-top: .5rem!important;
}

.meta {
    width: min(100%, 1349px);
    align-self: center;
    justify-self: center;
}

.meta-container {
    display: grid;
    height: calc(100% - 60px - 4em);
    margin: 2em;
    grid-template-rows: 19fr 1fr;
    grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
    .meta-container {
        display: grid;
        height: calc(100% - 50px - 2em);
        margin: 2em 2em 0 2em;
        grid-template-rows: 19fr 1fr;
        grid-template-columns: 1fr;
    }

}

@media screen and(max-width: 600px) {
    .meta {
        width: 100%;
        height: auto;
    }
}

.page-footer {
    font-size: 12px;
    align-self: center;
    justify-self: center;
}

.ticket-container {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: calc(100% - 60px - 4em);
    width: 50%;
    grid-gap: 1px;
    grid-template-columns: 1fr;
}

.ticket-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 5fr;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
}

.ticket-row-image {
    max-height: 40px;
    align-self: center;
    justify-self: center;
}

.ticket-row-text {
    align-self: center;
    justify-self: center;
    font-size: 14px;
}

.ticket-row-progress {
    justify-content: center;
    align-content: center;
    width: 80%;
    height: 50%;
    justify-self: center;
    align-self: center;
}

.index-container {
    display: grid;
    height: calc(100% - 60px - 4em);
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
        "title title"
        "purpose pet-usage"
        "unit-usage impressum"
}

@media screen and (max-width: 768px) {
    .index-container {
        display: grid;
        height: calc(100% - 60px - 4em);
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
        grid-template-areas:
            "title"
            "purpose"
            "pet-usage"
            "unit-usage"
            "impressum"
    }

    .index-purpose {
        border-style: hidden !important;
    }

    .index-pet-usage {
        border-style: hidden !important;
    }

    .index-unit-usage {
        border-style: hidden !important;
    }

    .index-impressum {
        border-style: hidden !important;
    }
}

.index-container p {
    font-size: 14px;
}

.index-title {
    grid-area: title;
    display: grid;
    justify-content: center;
    align-content: center;
}

.index-title h1 {
    font-size: 4em;
    margin: 0px;
}

.index-purpose {
    grid-area: purpose;
    border: white;
    border-width: 2px;
    border-style: solid;
    padding: 1%;
}

.index-pet-usage {
    grid-area: pet-usage;
    border: white;
    border-width: 2px;
    border-style: solid;
    padding: 1%;
}

.index-unit-usage {
    grid-area: unit-usage;
    border: white;
    border-width: 2px;
    border-style: solid;
    padding: 1%;
}

.index-impressum {
    grid-area: impressum;
    border: white;
    border-width: 2px;
    border-style: solid;
    padding: 1%;
}

.pet-container {
    display: grid;
    width: 80%;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 1fr 12px;
    grid-template-areas:
        "buttons"
        "trackers"
        "pets"
        "footer";
    justify-content: center;
    align-content: center;
    margin: auto
}

.pet-buttons {
    grid-area: buttons;
    justify-self: center;
    align-self: center;
}

.pet-trackers {
    grid-area: trackers;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;

}

.pet-tracker{
    justify-self: center;
    align-self: center;
}

.pet-footer {
    grid-area: footer;
}

.pet-pets {
    grid-area: pets;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-content: center;
}

@media screen and (max-width: 600px) {
    .pet-pets {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 600px) {
    .pet-pets {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .pet-pets {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .pet-pets {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .pet-pets {
        grid-template-columns: repeat(8, 1fr);
    }
}

.pet-card {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 0.8fr;
    grid-template-areas:
        "pet frags name"
        "stars stars stars"
        "input input input"
        "kl kl kl";
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
    padding: 5% 2% 1% 2%;
}


#dragable-row .pet-card:hover {
    background-color: #555;
    border: 1px solid #111 !important;
    cursor: pointer;
}

.pet-card-pet {
    grid-area: pet;
    justify-self: center;
    align-self: center;
}

.pet-card-frags {
    grid-area: frags;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    color: #1ca51c !important;
    margin: 0;
}

.pet-card-name {
    grid-area: name;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.pet-card-stars {
    grid-area: stars;
    justify-self: center;
    align-self: center;
}

.pet-card-input {
    width: 80%;
    grid-area: input;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
}

.pet-card-kl {
    grid-area: kl;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
}

.pet-card-kl div {
    font-weight: bold;
    font-size: 12px;
    color: #ce2323;
    justify-self: center;
}


.unit-container {
    display: grid;
    width: 70%;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .unit-container {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}


.unit-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.7fr 0.7fr auto;
    grid-template-areas:
        "jr-unit sr-unit pet"
        "jr-input sr-input ."
        "buffs buffs buffs";
    grid-gap: 5px;
    border: 1px solid #dee2e6 !important;
    border-radius: 5px;
    padding: 2%;
}

@media screen and (max-width: 600px) {
    .unit-card {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.7fr 0.7fr auto;
        grid-template-areas:
        "jr-unit sr-unit pet"
        "jr-input jr-input pet"
        "sr-input sr-input ."
        "buffs buffs buffs";
    }
}

.unit-card-jr-unit {
    grid-area: jr-unit;
    justify-self: center;
    align-self: center;
}

.unit-card-sr-unit {
    grid-area: sr-unit;
    justify-self: center;
    align-self: center;
}

.unit-card-pet {
    grid-area: pet;
    justify-self: center;
    align-self: center;
}

.unit-card-jr-input {
    grid-area: jr-input;
    justify-self: center;
    align-self: center;
}

.unit-card-sr-input {
    grid-area: sr-input;
    justify-self: center;
    align-self: center;
}

.unit-card-buffs {
    grid-area: buffs;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    justify-content: center;
    align-content: center;
}

.six-star-unit {
    outline: 2px solid #BCA45A;
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(188, 164, 90, 0.3));
}

.five-star-unit {
    outline: 2px solid #AC081D;
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(172, 8, 29, 0.3));
}

.stat-modal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "kl-label kl hide hide"
        "shn-label shn-label shh-label shh-label"
        "shn-tickets-label shn-tickets shh-tickets-label shh-tickets"
        "shn-refills-label shn-refills shh-refills-label shh-refills"
        "shn-gems shn-gems shh-gems shh-gems";
}

.stat-modal>* {
    justify-self: center;
    align-self: center;
}

.stat-modal-kl {
    grid-area: kl-label;
}

.stat-modal-kl {
    grid-area: kl;
}

.stat-modal-hide {
    grid-area: hide;
}

.stat-modal-shn-label {
    grid-area: shn-label;
}

.stat-modal-shh-label {
    grid-area: shh-label;
}

.stat-modal-shn-tickets-label {
    grid-area: shn-tickets-label;
}

.stat-modal-shn-tickets {
    grid-area: shn-tickets;
}

.stat-modal-shh-tickets-label {
    grid-area: shh-tickets-label;
}

.stat-modal-shh-tickets {
    grid-area: shh-tickets;
}

.stat-modal-shn-refills-label {
    grid-area: shn-refills-label;
}

.stat-modal-shn-refills {
    grid-area: shn-refills;
}

.stat-modal-shh-refills-label {
    grid-area: shh-refills-label;
}

.stat-modal-shh-refills {
    grid-area: shh-refills;
}

.stat-modal-shn-gems {
    grid-area: shn-gems;
}

.stat-modal-shh-gems {
    grid-area: shh-gems;
}

.red{
    color: #ce2323 !important;
}

.green{
    color: #1ca51c !important;
}

.hidden {
  visibility: hidden;
}


@media all and (max-width: 768px) {

    .unit-image,
    .pet-image {
        max-width: 35px;
    }
}

.form-control {
    display: inline;
    text-align: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    max-width: 80%;
}

.progress-bar-hidden {
    visibility: hidden;
}

.progress-bar {
    background-color: #ce2323;
}

.progress {
    height: 1.75rem;
    font-size: 1.5rem;
    background-color: #999999;
}

.popover {
    background-color: #cccccc;
    max-width: 40%;
}

.popover-header {
    color: black;
    background-color: #cccccc;
    font-size: 20px;
}

.popover-body {
    color: black;
    background-color: #999999;
    font-size: 18px;
    max-width: 100%;
}

.five-star-pet {
    filter: drop-shadow(rgb(50, 250, 50) 1px 1px 10px);
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}

/*image gallery*/
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0;
    outline: 0;
}

.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    border-color: #4783B0;
}

.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
}

.image-checkbox-checked .fa {
    display: block !important;
}

img.img-responsive {
    max-width: 15px;
}

fieldset {
    padding: 0px;
}

.zero-star,
.one-star,
.two-star,
.three-star,
.four-star,
.five-star {
    border-width: 1px;
    border-style: solid;
}

.zero-star {
    opacity: 0.6;
    filter: brightness(60%);
    border-color: rgb(85, 85, 85);
    background: #292929;
}

.one-star {
    border-color: rgb(170, 170, 170);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(170, 170, 170, 0.3));
}

.two-star {
    border-color: rgb(98, 145, 3);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(98, 145, 3, 0.3));
}

.three-star {
    border-color: rgb(50, 150, 347);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(50, 150, 347, 0.3));
}

.four-star {
    border-color: rgb(200, 51, 200);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(200, 51, 200, 0.3));
}

.five-star {
    border-color: rgb(224, 49, 6);
    background: radial-gradient(circle, #333 0%, #333 0%, rgba(224, 49, 6, 0.3));
}

.modal-header button span {
    color: white;
    text-shadow: 0 1px 0 #000;
}

.pet-modal:hover,
.unit-modal:hover {
    cursor: pointer;
}

.modal-content {
    text-align: left;
    background-color: #111;
    font-size: 14px;
    border: white;
    border-width: 1px;
    border-style: solid;
}

#gem-image,
#gem-hard-image {
    max-width: 20px;
}

td:hover {
    cursor: pointer;
}

.table td {
    padding: 0px;
}

.pet-image,
.unit-image,
.media-image {
    margin: auto;
    max-height: 40px;
}

.modal-title {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 5px;
}

.unit-modal-image,
.pet-modal-image {
    display: inline-block;
    margin-right: auto;
    max-height: 40px;
}

.sortable-ghost {
    background-color: #333;
}

.zero-fragments {
    display: none
}

.btn-md {
    padding: 12px 18px;
}

.navbar {
    min-height: 50px;
}

.navbar-collapse button {
    min-height: inherit;
    border-width: 2px;
    font-size: 14px;
    font-weight: 600;
}

.navbar-collapse {
    min-height: inherit;
}

.nav-link {
    font-size: 14px;
    font-weight: 600;
}

li {
    float: left;
}


.nav-tabs>li>a {
    color: rgba(255, 255, 255, .5);
}

h2 {
    text-decoration: underline;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #343a40 !important;
    width: 100px height:50px;
}

.navbar-nav>li>.dropdown-menu>.dropdown-item {
    color: #ccc !important;
    font-size: 1.5rem
}

.navbar-nav>li>.dropdown-menu>.dropdown-item:hover {
    background-color: #343a40 !important;
    color: #fff !important;
}

.invisible {
    display: none;
}

.btn-margin {
    margin: 2px !important;
}

.checkbox-lg .custom-control-label::before,
.checkbox-lg .custom-control-label::after {
    top: .8rem;
    width: 1.55rem;
    height: 1.55rem;
}

.checkbox-lg .custom-control-label {
    padding-top: 6px;
    padding-left: 6px;
}