<div id="{{unit['pet'].replace(' ', '_')}}-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLongTitle">{{unit['pet']}}</h5>
      		</div>
      		<div class="modal-body">
      			 <div class="container-fluid">
      			 	<div class="row">
      			 		<div class="col-12">Skill 1: Increase quest gold buff (300%, 800%, 3000%, 8000%, 15000%)</div>
      			 		<div class="col-12">Skill 2: Increase movement speed of orc unit in PvP (0.4%, 0.8%, 1.2%, 1.6%, 2%)</div>
      			 		<div class="col-12">Skill 3: Awakens the hidden special ability of [ Senior Big Foot ].</div>
      			 		<div class="col-12">
      			 			<ul>
      			 				<li>Increases resistance against knock-back by 70% and makes it pushed back less.</li>
      			 				<li>Quickly moves (dash) to first attack target, and when attacked by a ranged unit, has a chance to approach it immediately.</li>
      			 				<li>Engages in battle quickly.</li>
      			 				<li>Raises HP and defense of Orc units by 15%.</li>
      			 			</ul>
      			 		</div>
      			 	</div>
      			 </div>
      		</div>
		</div>
	</div>
</div>