<div class="modal fade" id="{{key_id}}-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-offset-top">
        <div class="modal-content bordered">
            <div class="modal-header">
                <h4 class="modal-title">{{key}}</h4>
                {% if loop_index < 5 %}
                <img class="unit-image" src="../static/{{unit['img']}}">
                {% else %}
                <img class="unit-image" src="../static/{{unit['img_sr']}}">
                {% endif %}
                <button type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            {% if loop_index < 5 %}
                <ul>
                    {% for ability in unit['atk_abil'] %}
                    <li>{{ability}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="sd-tabs sd-tab-interaction">
                    <ul class="nav nav-tabs">
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="tab" href="#tab-{{key_id}}-normal">Normal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-{{key_id}}-senior">Senior</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <form id="tab-{{key_id}}-normal" class="tab-pane active" action="" method="post">
                            <ul>
                                {% for ability in unit['atk_abil'] %}
                                <li>{{ability}}</li>
                                {% endfor %}
                            </ul>
                        </form>
                        <form id="tab-{{key_id}}-senior" class="tab-pane">
                            <ul>
                                {% for ability in unit['atk_abil_sr'] %}
                                <li>{{ability}}</li>
                                {% endfor %}
                        </form>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>