<div class="modal fade" id="version-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bordered">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Patch Notes</h4>
                <button type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body version-modal">
                <div class="row version-underline">
                    <div class="col-1 version-header">1.5.0</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-03-14</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Added</b>
                            <ul>
                                <li>New feature to track other pets besides shn and shh</li>
                                <li>Button that links to the new Discord support server</li>
                                <li>Button that links to HarroweD pet guide</li>
                                <li>Button for donations</li>
                            </ul></li>
                            <li><b>Changed</b>
                            <ul>
                                <li>The layout for the stat modal for mobile devices</li>
                                <li>Changed the size of the meta progression image for vertical rotated mobile devices</li>
                            </ul></li>
                            <li><b>Fixed</b>
                            <ul>
                                <li>Slight misaligment of pet image and number of day display for the trackers</li>
                                <li>A typo for the Barbarian Battle Cry (Orc) buff</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>

                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.6</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-03-08</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Fixed</b>
                            <ul>
                                <li>A bug where the multiplier for the normal units was not adjusted correctly when you had the coupled 5 star pet</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.5</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-03-07</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Fixed</b>
                            <ul>
                                <li>A bug that prevented own priorities to be saved to the IndexedDB (please reset and reorder if you used that feature)</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.4</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-03-07</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Added</b>
                            <ul>
                                <li>New H1 of 7 star units</li>
                                <li>Hidden skills to H1 7 star pets</li>
                            </ul></li>
                            <li><b>Changed</b>
                            <ul>
                                <li>Visual revision of the website (color scheme, unification, etc.)</li>
                                <li>Made dragging pets a bit more responsive for Chrome users</li>
                            </ul></li>
                            <li><b>Fixed</b>
                            <ul>
                                <li>A bug where the days to complete the pets were not shown for hard sh</li>
                            </ul></li>
                            <li><b>Removed</b>
                            <ul>
                                <li>Home nav link</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.3</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-03-06</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Added</b>
                            <ul>
                                <li>New Pets for H1 of 7 star Units</li>
                                <li>Version display and changelog for website</li>
                                <li>Visual cue for units similar to in-game look</li>
                                <li>Task list to README</li>
                            </ul></li>
                            <li><b>Changed</b>
                            <ul>
                                <li>Templates to work with css grid instead of bootstrap (that made the code much for readable)</li>
                                <li>Css to work with all the new classes</li>
                                <li>Js code to work with the restructured website</li>
                                <li>Performance optimizations for the entire codebase</li>
                                <li>Made the import button reload the page after successfully loading the data</li>
                             </ul></li>
                            <li><b>Fixed</b>
                            <ul>
                                <li>A bug where not the correct number of requirement units was shown for units which rely on pets of
                    other units to determine their requirement</li>
                                <li>A bug that shrank the pet area when only very few pets remained for tracking (almost all pets 5 star)</li>
                                <li>A bug with the navbar on the Metas page</li>
                                <li>A bug where the "Endless Farming" link in the navbar did not redirect to the index page</li>
                            </ul></li>
                            <li><b>Removed</b>
                            <ul>
                                <li>Poll from main page</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.2</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-02-20</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Added</b>
                            <ul>
                                <li>Future features poll</li>
                                <li>Description for the website</li>
                            </ul></li>
                            <li><b>Removed</b>
                            <ul>
                                <li>Important notice on home page</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
                <div class="row version-underline">
                    <div class="col-1 version-header">1.4.1</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-02-16</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Changed</b>
                            <ul>
                                <li>Meta progression</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
               <div class="row version-underline">
                    <div class="col-1 version-header">1.4.0</div>
                    <div class="col"></div>
                    <div class="col-3 version-header">2020-02-15</div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <ul>
                            <li><b>Added</b>
                            <ul>
                                <li>GNU Affero General Public License 3.0</li>
                                <li>Changelog</li>
                                <li>Code of Conduct</li>
                                <li>Readme</li>
                                <li>Development Dependencies</li>
                                <li>Deployment script</li>
                                <li>Config file for formatters</li>
                                <li>Various development tools</li>
                            </ul></li>
                            <li><b>Changed</b>
                            <ul>
                                <li>Formatted all Python code with black</li>
                                <li>Removed build/ from .gitignore</li>
                                <li>Email contact on main page</li>
                                <li>Trimmed environment.yml</li>
                             </ul></li>
                            <li><b>Fixed</b>
                            <ul>
                                <li>Hard Spirit Highland pets and priority</li>
                            </ul></li>
                            <li><b>Removed</b>
                            <ul>
                                <li>File to only freeze the flask application</li>
                                <li>Unnecessary _config.yml</li>
                                <li>Unnecessary main.py</li>
                                <li>Old reddit link (will add new one next patch)</li>
                            </ul></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
