<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Unit Farming</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ef.css') }}" >
    <script type="text/javascript" src="{{ url_for('static', filename='js/lodash.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sortable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>

    <script type="text/javascript">
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };
    </script>
    {% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('core.index') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('core.pets') }}">Pets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('core.units') }}">Units</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('core.tickets') }}">Tickets</a>
    </li>
  </ul>
  </nav>
{% endblock %}
<div id="content" class="container">{% block content %}{% endblock %}</div>
</body>
</html>
