{% extends 'bootstrap/base.html' %}
{% block title %}
Endless Farming
{% endblock %}
{% block head %}
{{super()}}
<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-133454964-1', 'auto');
        ga('send', 'pageview');
    </script>
<!-- End Google Analytics -->
{% block metas %}
{{ super() }}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Endless Farming: The Pet and Unit Tracker for Endless Frontier">
<meta name="author" content="Crypto2557">
{% endblock %}
{% block styles %}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ef.css') }}">
{% endblock styles %}
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{{ url_for('core.index') }}">
    <img id="logo-image" target="_blank" src="../static/img/media/logo.svg" alt="Endless Farming"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pets</a>
                <div class="dropdown-menu animate slideIn">
                    <a class="dropdown-item" href="{{ url_for('core.pets') }}">Normal</a>
                    <a class="dropdown-item" href="{{ url_for('core.pets_hard') }}">Hard</a>
                    <a class="dropdown-item" href="{{ url_for('core.pets_others') }}">Others</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.units') }}">Units</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.tickets') }}">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('core.meta_progression') }}">Metas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data Transfer</a>
                <div class="dropdown-menu animate slideIn">
                    <button id="import-button" class="btn dropdown-item">Import</button>
                    <button id="export-button" class="btn dropdown-item">Export</button>
                    <div class="dropdown-divider"></div>
                    <button id="delete-button" class="btn dropdown-item" data-toggle="modal" data-target="#delete-modal">Delete All Data</button>
                </div>
            </li>
        </ul>
        <input type="file" id="dbupload" value="Import" style="display:none" />
        <a id="paypal-button" href="https://www.paypal.me/crypto2557" target="_blank" class="btn bordered" role="button"><img id="paypal-image" target="_blank" src="../static/img/media/paypal.svg" alt="Paypal">Donate</a>
        <button id="discord-button" class="btn bordered">
            <a href="https://discord.gg/U5sUGbc" target="_blank">
                <img id="discord-image" target="_blank" src="../static/img/media/Discord-Logo+Wordmark-Color.svg" alt="Discord">
            </a>
        </button>
        <a href="http://bit.ly/HarroweD" target="_blank" class="btn bordered" role="button">Pet Guide</a>
        <button id="version-button" class="btn bordered" data-toggle="modal" data-target="#version-modal">v1.5.1.13</button>
        <button id="stats-button" class="btn bordered" data-toggle="modal" data-target="#stats-modal">My Stats</button>
    </div>
</nav>

{% include 'modals/_delete_modal.html' %}
{% include 'modals/_my_stats_modal.html' %}
{% include 'modals/_version_modal.html' %}
{% endblock %}
{% block content %}
<div class="announcement-container">
<h1>I am very happy to announce the release of Endless Farming 2.0</h1>
<h2>The new website is now available <a href="https://endlessfarming.com/#/" target="_blank">here</a>.</h2>
<h2>This version of Endless Farming will no longer be updated.</h2>
<h3>It is a fully reworked version of the this website using new technologies. In addition it comes with a daily reward page, trans units, the new easily to rememeber domain, the option to import your data from the this site, a few other additional features, and many bug fixes.</h3>
<h3>We will keep working hard to bring even more new features to you in the future. </h3>
<h3>This release also comes with our new <a href="https://www.patreon.com/endlessfarming" target="_blank">Patreon page</a> in case you want to support us even further.</h3>
</div>
{% block app_content %}{% endblock %}
{% endblock %}
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dexie/2.0.4/dexie.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/extern/idb.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extern/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extern/sortable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extern/bootstrap-input-spinner.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/extern/html2canvas.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}