<div id="{{key_id}}" class="ex-unit-card bordered">
    <a class="unit-modal ex-unit-card-unit" href="#tab-{{key_id}}" data-toggle="modal" data-target="#{{key_id}}-modal">
        <img id="{{key_id}}-image" class="unit-image seven-star-unit" src="../static/{{unit['img']}}" data-toggle="tooltip" data-placement="top" title="{{key}}">
    </a>
    {% include '_unit_modal.html' %}
    <input id="{{key_id}}-number" data-unit="{{key_id}}" class="unit-input ex-unit-card-input" type="number" min="0" value="0" max="10" step="1" />
    <span class="pet-modal ex-unit-card-pet" data-toggle="modal" data-target="#{{unit['pet'].replace(' ', '_')}}-modal">
        <img id="{{unit['pet'].replace(' ', '_')}}-image" class='pet-image' src="../static/{{pets[unit['pet']]['img']}}" data-pet="{{unit['pet'].replace(' ', '_')}}" data-unit="{{key_id}}" data-toggle="tooltip" data-placement="top" title="{{unit['pet']}}">
    </span>
    {% set pet_name=unit['pet'] %}
    {% set pet=pets[unit['pet']] %}
    {% include '_pet_modal.html' %}
    <div class="ex-unit-card-buffs">
        {% for i in range(max_buff) %}
            {%if i < unit["buffs"]|length %} {% set buff=unit["buffs"][i] %}
                <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                    <div class='progress'>
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}" data-linked-multiplier="{{buff['linked_multiplier']}}">0/{{buff["requirement"]}}
                        </div>
                    </div>
                </span>
            {% else %}
                <div class='progress hidden'>
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-linked-units=""></div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>