{% extends 'base.html' %}

{% block app_content %}
<div class="text-center">
<h1 class="col-12">Endless Farming</h1>
<hr>
<h2 class="col-12"><b>Important</b></h2>
<p class="col-12"><b>
Please set your configurations by clicking the 'My Stats' button on the top right corner in order for the pet tracker to work properly. You can change those configurations at any time later on.</b></p>
<hr>
<p class="col-12">This application was created and is maintained by Crypto.</p>
<p class="col-12">A huge shoutout to <a href="https://www.endlessfrontierdata.com/index">Endless Frontier Data</a> for their unit and pet images as well as data, to HarroweD for writing an awesome <a href="http://bit.ly/HarroweD">pet guide</a>, CheezyBob for thinking up the original unit selection list and Yobnomekop, Weymouth, Marque, GreatGama, Akki, CheezyBob, dzed and  X Trav X for constantly working on the meta progression.</p>

<p class="col-12">Feel free to give feedback on <a href="https://www.reddit.com/r/EndlessFrontier/comments/alwlb7/endless_farming_pet_and_unit_tracker/">Reddit</a>, Discord <b>Crypto2557#1651</b> or directly by mail <b>theisz.cm@gmail.com</b></p>
<p class="col-12">The source code is available at <a href="https://github.com/Crypto2557/Crypto2557.github.io">GitHub</a>!</p>

<p class="col-12">Happy Farming!</p>
<p class="col-12">If you like this tool and want to support this project, feel free to <a href="https://paypal.me/crypto2557">donate</a>! Thanks!</p>
</div>
{% endblock %}


{% block scripts %}
	{{ super() }}
{% endblock %}