{% extends 'base.html' %}
{% block app_content %}
<div class="pet-container">
    <div class="pet-buttons">
        <button id="reset-btn" class="btn btn-dark btn-md btn-margin">Reset Priority</button>
        <button id="add-all-btn" class="btn btn-dark btn-md btn-margin">Progress 1 Day</button>
    </div>
    <div class="pet-trackers">
        {% for _ in range(number_of_trackers) %}
        {% set loop_index = loop.index %}
        <div id="track-{{loop.index}}" class="pet-tracker" data-empty="True">
            <img class="pet-image" src="" />
            <p></p>
        </div>
        {% endfor %}
    </div>
    <div id="dragable-row" class="pet-pets hidden">
        {% for pet in pets %}
        {% set key_id=pet["name"].replace(" ", "_") %}
        {% set pet_name=pet["name"] %}
        {% set loop_index = loop.index %}
        {% include 'cards/pet_card.html' %}
        {% endfor %}
    </div>
    <footer class="page-footer pet-footer">
        This priority ranking was originally created by HarroweD.
    </footer>
</div>
{% for pet in pets %}
{% set key_id=pet["name"].replace(" ", "_") %}
{% set pet_name=pet["name"] %}
{% include 'modals/_pet_modal.html' %}
{% endfor %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/pets.js') }}"></script>
{% block pet_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/pets_normal.js') }}"></script>
{% endblock %}
{% endblock %}