{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row super-row">
        <div class="col-sm-12 col-centered">
            {% for key, pet in pets.items() %}
            {% set key_id=key.replace(" ", "-") %}
                {%if (loop.index-1) % 6 == 0 %}<div class="row centered-row">{% endif %}
                    <div class="col-lg-2 col-4 border block">
                        <div class="row centered-row">
                            <div class="col-md-7">
                                <img id="{{key_id}}-image" class='unit-image zero-star' src="../static/{{pet['img']}}">
                            </div>
                            <div class="col-md-5">
                                <h3>{{ key }}</h3>
                            </div>
                        </div>
                        <div class="row centered-row">
                            <div class="col-md-7">
                                    <fieldset>
                                        <label class="image-checkbox" id="{{key_id}}-1star" data-pet="{{key_id}}">
                                            <img class="img-responsive" src="../static/img/stargrey.png"/>
                                            <input type="checkbox" value="10" data-stars="1"/>
                                        </label>
                                        <label class="image-checkbox" id="{{key_id}}-2star" data-pet="{{key_id}}">
                                            <img class="img-responsive" src="../static/img/stargrey.png"/>
                                            <input type="checkbox" value="30" data-stars="2"/>
                                        </label>
                                        <label class="image-checkbox" id="{{key_id}}-3star" data-pet="{{key_id}}">
                                            <img class="img-responsive" src="../static/img/stargrey.png"/>
                                            <input type="checkbox" value="80" data-stars="3"/>
                                        </label>
                                        <label class="image-checkbox" id="{{key_id}}-4star" data-pet="{{key_id}}">
                                            <img class="img-responsive" src="../static/img/stargrey.png"/>
                                            <input type="checkbox" value="180" data-stars="4"/>
                                        </label>
                                        <label class="image-checkbox" id="{{key_id}}-5star" data-pet="{{key_id}}">
                                            <img class="img-responsive" src="../static/img/stargrey.png"/>
                                            <input type="checkbox" value="330" data-stars="5"/>
                                        </label>
                                    </fieldset>
                            </div> 
                            <div class="col-md-5">
                                    <input id="{{key_id}}-fragments" data-pet="{{key_id}}" class="form-control pet-input" type="number" min="0" value="0"/>
                            </div>
                        </div>
                    </div>
                {%if (loop.index-1) % 6 == 5 %} </div>  {% endif %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
    (function() {
        'use strict';
        //check for support
        if (!('indexedDB' in window)) {
            console.log('This browser doesn\'t support IndexedDB');
        return;
        }
        var dbPromise = idb.open('test-db4', 1, function(upgradeDb) {
            if (!upgradeDb.objectStoreNames.contains('pets')) {
                var petsOS = upgradeDb.createObjectStore('pets', {keyPath: 'name'});
                petsOS.createIndex('fragments', 'fragments', {unique: false});
            }
        });
    })();

    function turn_star_on($image_checkbox){
        var $checkbox = $image_checkbox.find('input[type="checkbox"]');
        var $image = $image_checkbox.find('.img-responsive');
        $checkbox.prop("checked", true);
        $image.attr("src", "../static/img/star.png");
    }

    function turn_star_off($image_checkbox){
        var $checkbox = $image_checkbox.find('input[type="checkbox"]');
        var $image = $image_checkbox.find('.img-responsive');
        $checkbox.prop("checked", false);
        $image.attr("src", "../static/img/stargrey.png");
    }

    function remove_last_class($element){
        var class_to_remove = $($element).attr('class').split(/\s+/).slice(-1)[0];
        $element.removeClass(class_to_remove);
    }

    function remove_classes($element, classes_not_to_remove){
        var classes = $($element).attr('class').split(/\s+/);
        for(var i=0;i<classes.length;i++){
            if(classes_not_to_remove.includes(classes[i]))
                continue;
            $element.removeClass(classes[i]);
        }
        var classes = $($element).attr('class').split(/\s+/);
    }

    function change_stars(val){
        if(val != undefined){
            var $img = $("#"+val["name"].replace(" ", "-")+"-image");
            if(val["fragments"] >=10){ 
                turn_star_on($("#"+val["name"].replace(" ", "-")+"-1star"));
                remove_classes($img, ["unit-image", "one-star"]);
                $img.addClass("one-star"); 
            } else {
                 turn_star_off($("#"+val["name"].replace(" ", "-")+"-1star"));
                 remove_classes($img, ["unit-image", "zero-star"]);
                 $img.addClass("zero-star");
            }
            if(val["fragments"] >=30){ 
                turn_star_on($("#"+val["name"].replace(" ", "-")+"-2star"));
                remove_classes($img, ["unit-image", "two-star"]);
                $img.addClass("two-star"); 
            } else {
                turn_star_off($("#"+val["name"].replace(" ", "-")+"-2star"));
            }
            if(val["fragments"] >=80){ 
                turn_star_on($("#"+val["name"].replace(" ", "-")+"-3star"));
                remove_classes($img, ["unit-image", "three-star"]);
                $img.addClass("three-star"); 
            } else {
                turn_star_off($("#"+val["name"].replace(" ", "-")+"-3star"));
            }
            if(val["fragments"] >=180){ 
                turn_star_on($("#"+val["name"].replace(" ", "-")+"-4star"));
                remove_classes($img, ["unit-image", "four-star"]);
                $img.addClass("four-star"); 
            } else {
                turn_star_off($("#"+val["name"].replace(" ", "-")+"-4star"));
            }
            if(val["fragments"] >=330){ 
                turn_star_on($("#"+val["name"].replace(" ", "-")+"-5star"));
                remove_classes($img, ["unit-image", "five-star"]);
                $img.addClass("five-star"); 
            } else {
                turn_star_off($("#"+val["name"].replace(" ", "-")+"-5star"));
            }
        } 
    }

    function on_pet_input_change($pet_input){
        idb.open('test-db4', 1).then(function(db){
            var tx = db.transaction('pets', 'readwrite');
            var store = tx.objectStore('pets');
            return store.get($pet_input.data("pet"));
        }.bind($pet_input)).then(function(val) {
            if(val != undefined){
                $($pet_input).attr("value", val["fragments"]);
            }      
            change_stars(val);
        }.bind($pet_input));
    }

    $(".pet-input").each(function(){
        on_pet_input_change($(this));
    });

    $(function() {
        $(".pet-input").bind('keyup mouseup', function () {
            var request = idb.open('test-db4', 1);
            request.then(function(db){
                var tx = db.transaction('pets', 'readwrite');
                var store = tx.objectStore('pets');
                var item = {
                    name: $(this).data("pet"),
                    fragments: parseInt($(this).val())
                };
                var putRequest = store.put(item);
                return tx.complete;
            }.bind(this)).then(function() {
                val = idb.open('test-db4', 1).then(function(db){
                    var tx = db.transaction('pets', 'readwrite');
                    var store = tx.objectStore('pets');
                    return store.get($(this).data("pet"));
                }.bind(this)).then(function(val){
                    $(this).attr("value", val["fragments"]);
                    change_stars(val);
                });
            }.bind(this));
        });
    });

    $(".image-checkbox").on("click", function (e) {
        var $checkbox = $(this).find('input[type="checkbox"]');
        var $input = $("#"+$(this).data("pet")+"-fragments");
        $input.val($checkbox.attr("value"));
        $input.keyup();
    });

    </script>
{% endblock %}
