{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/units.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row super-row">
        <div class="col-sm-12 col-centered">
            {% for key, unit in units.items() %}
            {% set key_id=key.replace(" ", "-") %}
                {% set max_buff=max_buffs[loop.index-1] %}
                {% set max_add_buff=max_add_buffs[loop.index-1] %}
                {%if (loop.index-1) % 4 == 0 %}
                    <div class="row centered-row">
                {% endif %}
                    <div id="{{key_id}}" class="col-lg-3 col-6 border block">
                        <div class="row centered-row">
                            <div class="col-9">
                                <div class="row centered-row">
                                    <div class="col-6">
                                        <a href="{{unit['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                            <img id="{{key_id}}-image" src="../static/{{unit['img']}}" data-toggle="tooltip" data-placement="top" title="{{key}}">
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{{unit['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                            <img id="{{key_id}}-image" src="../static/{{unit['img_sr']}}" data-toggle="tooltip" data-placement="top" title="Senior {{key}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="row centered-row">
                                    <div class="col-6">
                                        <input id="{{key_id}}-number" data-unit="{{key_id}}" class="form-control unit-input" type="number" min="0" value="0"/>
                                    </div> 
                                    <div class="col-6">
                                        <input id="{{key_id}}-sr-number" data-unit="{{key_id}}" class="form-control unit-input" type="number" min="0" value="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <a href="{{pets[unit['pet']]['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                    <img id="{{unit['pet'].replace(' ', '-')}}-image" class='pet-image' src="../static/{{pets[unit['pet']]['img']}}" data-pet="{{unit['pet'].replace(' ', '-')}}">
                                </a>
                            </div>
                        </div>
                        {% for i in range(max_buff) %}
                        <div class="row centered-row">
                                <div class="col-12">
                                    {%if i < unit["buffs"]|length %}
                                        {% set buff=unit["buffs"][i] %}
                                        <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                                            <div class='progress unit-bar'>
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}">0/{{buff["requirement"]}}
                                                </div>
                                            </div>
                                        </span>
                                    {% else %}
                                    <div class='progress unit-bar progress-bar-hidden'>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for i in range(max_add_buff) %}
                        <div class="row centered-row">
                                <div class="col-12">
                                    {%if i < pets[unit["pet"]]["additional_buffs"]|length %}
                                        {% set buff=pets[unit["pet"]]["additional_buffs"][i] %}
                                        <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                                            <div class='progress unit-bar progress-bar-hidden additional_buff'>
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}">0/{{buff["requirement"]}}
                                                </div>
                                            </div>
                                        </span>
                                    {% else %}
                                    <div class='progress unit-bar progress-bar-hidden'>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
                {%if (loop.index-1) % 4 == 3 %} </div>  {% endif %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

    // IIFE - Immediately Invoked Function Expression
    (function(yourcode) {

        // The global jQuery object is passed as a parameter
        yourcode(window.jQuery, window.indexedDB, window, document);

    }(function($, indexedDB, window, document) {

        // The $ is now locally scoped 

        // Listen for the jQuery ready event on the document
        $(function() {
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            console.log($SCRIPT_ROOT);
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').each(function(){
                prog_bar = $(this).children().first();
                if (!$(prog_bar).attr('class').split(/\s+/).includes("progress-bar-hidden")){
                    $(this).popover();
                }
            });
            $('.pet-image').each(function() {
                idb.open('test-db4', 1).then(function(db){
                var tx = db.transaction('pets', 'readwrite');
                var store = tx.objectStore('pets');
                return store.get($(this).data("pet"));
                }.bind(this)).then(function(val) {
                    if(val != undefined){
                        if (val["fragments"]>=330){
                            $("#"+val["name"]+"-image").addClass("five-star-pet");
                            getPet(val["name"]).done(function(data){
                                
                            });
                        }
                    }      
                }.bind(this));
            });
            $(".unit-input").bind('keyup mouseup', function () {
                $this = $(this);
                $unit_cell = $("#"+$this.data("unit"));
                for (bar of $unit_cell.find('[role="progressbar"]')){
                    update_progress_bar($(bar), $this);
                }
            });
        });



    }));
    </script>
{% endblock %}