{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/units.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="row super-row">
        <div class="col-sm-12 col-centered">
            {% for key, unit in units.items() %}
            {% set key_id=key.replace(" ", "_") %}
                {% set max_buff=max_buffs[loop.index-1] %}
                {% set max_add_buff=max_add_buffs[loop.index-1] %}
                {%if (loop.index-1) % 4 == 0 %}
                    <div class="row centered-row">
                {% endif %}
                    <div id="{{key_id}}" class="col-lg-3 col-6 border block padding-sm">
                        <div class="row centered-row">
                            <div class="col-9 padding-sm">
                                <div class="row centered-row">
                                    <div class="col-6 padding-sm">
                                        <a href="{{unit['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                            <img id="{{key_id}}-image" src="../static/{{unit['img']}}" data-toggle="tooltip" data-placement="top" title="{{key}}">
                                        </a>
                                    </div>
                                    <div class="col-6 padding-sm">
                                        <a href="{{unit['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                            <img id="{{key_id}}-image" src="../static/{{unit['img_sr']}}" data-toggle="tooltip" data-placement="top" title="Senior {{key}}">
                                        </a>
                                    </div>
                                </div>
                                <div class="row centered-row">
                                    <div class="col-6 padding-sm">
                                        <input id="{{key_id}}-number" data-unit="{{key_id}}" class="form-control unit-input" type="number" min="0" value="0"/>
                                    </div> 
                                    <div class="col-6 padding-sm">
                                        <input id="{{key_id}}-number-sr" data-unit="{{key_id}}" class="form-control unit-input" type="number" min="0" value="0"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 padding-sm">
                                <a href="{{pets[unit['pet']]['img'].replace('img', 'https://www.endlessfrontierdata.com').replace('.png', '')}}">
                                    <img id="{{unit['pet'].replace(' ', '_')}}-image" class='pet-image' src="../static/{{pets[unit['pet']]['img']}}" data-pet="{{unit['pet'].replace(' ', '_')}}" data-unit="{{key_id}}">
                                </a>
                            </div>
                        </div>
                        {% for i in range(max_buff) %}
                        <div class="row centered-row">
                                <div class="col-12 padding-sm">
                                    {%if i < unit["buffs"]|length %}
                                        {% set buff=unit["buffs"][i] %}
                                        <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                                            <div class='progress'>
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}">0/{{buff["requirement"]}}
                                                </div>
                                            </div>
                                        </span>
                                    {% else %}
                                    <div class='progress progress-bar-hidden'>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-linked-units=""></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        {% for i in range(max_add_buff) %}
                        <div class="row centered-row">
                                <div class="col-12 padding-sm">
                                    {%if i < pets[unit["pet"]]["additional_buffs"]|length %}
                                        {% set buff=pets[unit["pet"]]["additional_buffs"][i] %}
                                        <span data-toggle="popover" title="{{buff['name']}}" data-content="{{buff['description']}}" data-trigger="hover" data-placement="top">
                                            <div class='progress progress-bar-hidden additional_buff'>
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{buff['requirement']}}" data-multiplier="{{buff['multiplier']}}" data-linked-units="{{buff['linked_units']}}">0/{{buff["requirement"]}}
                                                </div>
                                            </div>
                                        </span>
                                    {% else %}
                                    <div class='progress progress-bar-hidden'>
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-linked-units=""></div>
                                    </div>
                                    {% endif %}
                                </div>
                        </div>
                        {% endfor %}
                    </div>
                {%if (loop.index-1) % 4 == 3 %} </div>  {% endif %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">

    // IIFE - Immediately Invoked Function Expression
    (function(yourcode) {

        'use strict';
        //check for support
        if (!('indexedDB' in window)) {
            console.log('This browser doesn\'t support IndexedDB');
            return;
        }
        var dbPromise = idb.open('endless-farming-db', 1, function(upgradeDb) {
            if (!upgradeDb.objectStoreNames.contains('units')) {
                var unitsOS = upgradeDb.createObjectStore('units', {keyPath: 'name'});
                unitsOS.createIndex('nsr', 'nsr', {unique: false});
                unitsOS.createIndex('sr', 'sr', {unique: false});
            }
            if (!upgradeDb.objectStoreNames.contains('pets')) {
                var petsOS = upgradeDb.createObjectStore('pets', {keyPath: 'name'});
                petsOS.createIndex('fragments', 'fragments', {unique: false});
            }
        });
        yourcode(window.jQuery, window.indexedDB, window, document);

    }(function($, indexedDB, window, document) {

        $(function() {
            $('.block').each(function(){
                $unit_cell = $(this);
                for (bar of $unit_cell.find('[role="progressbar"]')){
                    for (input of $unit_cell.find('input')){
                        update_progress_bar($(bar), $(input));
                    }
                }
            });
            $('.pet-image').each(function() {
                updateBuffs($(this));
            });
            $(".unit-input").bind('keyup mouseup', function () {
                $this = $(this);
                update_all_progress_bars_of_input($this);
                idb.open('endless-farming-db', 1).then(function(db){
                    var tx = db.transaction('units', 'readwrite');
                    var store = tx.objectStore('units');
                    unit_values = get_unit_input_values($this);
                    var item = {
                        name: $this.data("unit"),
                        nsr: unit_values.nsr,
                        sr: unit_values.sr
                    };
                    store.put(item);
                    return tx.complete;
                }.bind($this));
            });
            $(".unit-input").each(function(){
                on_unit_input_change($(this));
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').each(function(){
                prog_bar = $(this).children().first();
                if (!$(prog_bar).attr('class').split(/\s+/).includes("progress-bar-hidden")){
                    $(this).popover();
                }
            });
        });
    }));
    </script>
{% endblock %}