{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script type="text/javascript">
  function update_progress_bar(bar, input){
      if($(input).attr("id").endsWith("-sr")){
          val_sr = parseInt($(input).val())
          val = parseInt($("#"+$(input).attr("id").replace("-sr", "")).val())
          multiplier = parseFloat($("#"+$(input).attr("id").replace("-sr", "")).attr("data-multiplier"))
      } else {
          val_sr = parseInt($("#"+$(input).attr("id")+"-sr").val())
          val = parseInt($(input).val())
          multiplier = parseFloat($(input).attr("data-multiplier"))
      }

      current_progress = multiplier*val+val_sr;
      max = $(bar).attr("aria-valuemax");
      siz =current_progress/max*100;

      bar.css("width", siz + "%")
         .attr("aria-valuenow", current_progress);
      if(siz >=100)
      {
        bar.addClass("progress-bar-green");
        bar.removeClass("progress-bar-blue");
      } else {
        bar.addClass("progress-bar-blue");
        bar.removeClass("progress-bar-green");
      }
  }

  function update_local_storage(input){
    localStorage.setItem($(input).attr("id"), $(input).val())  
  }

  function reset_local_storage(input){
    localStorage.setItem($(input).attr("id"), "0")  
  }

  $(window).on("load", function() {
    inputs = document.getElementsByTagName('input');
    for (i=0; i < inputs.length; i++) {
      update_progress_bar($("#prog-"+$(inputs[i]).attr("id").replace("-sr", "")), inputs[i])
      update_progress_bar($("#prog-"+$(inputs[i]).attr("id").replace("-sr", "")+"-2"), inputs[i])
    }
  });
</script>
{% endblock %}
{% block content %}
<script type="text/javascript">

  String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
  };
  json = JSON.parse($.ajax({url: "{{ url_for('static', filename='units.json') }}", async: false}).responseText);
  var keys = Object.keys(json);
  var output = "<div class='table'>";
  output += "<div class='row'>";
  for (var i=0; i<keys.length; i++)
  {
    if((i%4)==0)
    {
      output += "</div><div class='row'>" 
      output += "<div class='col-md-3 centered'>";
      output += "<div id='images'>"+
        "<a href='"+json[keys[i]]['img'].replace("img", "https://www.endlessfrontierdata.com")+"'>"+
          "<img class='unit-image' src="+"../static/"+json[keys[i]]['img']+" data-toggle='tooltip' data-placement='top' title='"+keys[i]+ "'>"+
        "</a>"+
        "<a href='"+json[keys[i]]['img_sr'].replace("img", "https://www.endlessfrontierdata.com")+"'>"+
          "<img class='unit-image' src="+"../static/"+json[keys[i]]['img_sr']+" data-toggle='tooltip' data-placement='top' title='"+"Senior "+keys[i]+ "'>"+
        "</a>"+
      "</div>";
      if(json[keys[i]]["required2"] !== undefined){
        maxval = (json[keys[i]]['required'] > json[keys[i]]['required2'] ? json[keys[i]]['required'] : json[keys[i]]['required2'])
      } else {
        maxval = json[keys[i]]['required'] 
      }
      output += "<div id='inputs'>"+
        "<input class='form-control unit-input' type='number' value='"+(localStorage.getItem("input-"+keys[i].replaceAll(" ", "-")) || "0")+"' min='0' max='"+Math.ceil(maxval/json[keys[i]]['multiplier'])+"' id='input-"+keys[i].replaceAll(" ", "-")+"' data-multiplier='"+json[keys[i]]['multiplier']+"'>"+
        "<input class='form-control unit-input' type='number' value='"+(localStorage.getItem("input-"+keys[i].replaceAll(" ", "-")+"-sr") || "0")+"' min='0' max='"+maxval+"' id='input-"+keys[i].replaceAll(" ", "-")+"-sr'>"+
      "</div>";
      output += "<span data-toggle='popover' title='"+json[keys[i]]['name_buff']+"' data-content='"+json[keys[i]]['description_buff']+"' data-trigger='hover' data-placement='top'>"
      output +="<div class='progress unit-bar'><div id='prog-input-"+keys[i].replaceAll(" ", "-")+"' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='"+json[keys[i]]['required']+"'></div></div>"
      output += "</span>"
      if(json[keys[i]]['number_buffs']==2){
        output += "<span data-toggle='popover' title='"+json[keys[i]]['name_buff2']+"' data-content='"+json[keys[i]]['description_buff2']+"' data-trigger='hover' data-placement='bottom'>"
        output +="<div class='progress unit-bar'><div id='prog-input-"+keys[i].replaceAll(" ", "-")+"-2"+"' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='"+json[keys[i]]['required2']+"'></div></div>"
        output += "</span>"
      }
      output +="</div>";
    }
    else
    {
      output += "<div class='col-md-3 centered'>";
      output += "<div id='images'>"+
        "<a href='"+json[keys[i]]['img'].replace("img", "https://www.endlessfrontierdata.com")+"'>"+
          "<img class='unit-image' src="+"../static/"+json[keys[i]]['img']+" data-toggle='tooltip' data-placement='top' title='"+keys[i]+ "'>"+
        "</a>"+
        "<a href='"+json[keys[i]]['img_sr'].replace("img", "https://www.endlessfrontierdata.com")+"'>"+
          "<img class='unit-image' src="+"../static/"+json[keys[i]]['img_sr']+" data-toggle='tooltip' data-placement='top' title='"+"Senior "+keys[i]+ "'>"+
        "</a>"+
      "</div>";
      if(json[keys[i]]["required2"] !== undefined){
        maxval = (json[keys[i]]['required'] > json[keys[i]]['required2'] ? json[keys[i]]['required'] : json[keys[i]]['required2'])
      } else {
        maxval = json[keys[i]]['required'] 
      }
      output += "<div id='inputs'>"+
        "<input class='form-control unit-input' type='number' value='"+(localStorage.getItem("input-"+keys[i].replaceAll(" ", "-")) || "0")+"' min='0' max='"+Math.ceil(maxval/json[keys[i]]['multiplier'])+"' id='input-"+keys[i].replaceAll(" ", "-")+"' data-multiplier='"+json[keys[i]]['multiplier']+"'>"+
        "<input class='form-control unit-input' type='number' value='"+(localStorage.getItem("input-"+keys[i].replaceAll(" ", "-")+"-sr") || "0")+"' min='0' max='"+maxval+"' id='input-"+keys[i].replaceAll(" ", "-")+"-sr'>"+
      "</div>";
      output += "<span data-toggle='popover' title='"+json[keys[i]]['name_buff']+"' data-content='"+json[keys[i]]['description_buff']+"' data-trigger='hover' data-placement='top'>"
      output +="<div class='progress unit-bar'><div id='prog-input-"+keys[i].replaceAll(" ", "-")+"' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='"+json[keys[i]]['required']+"'></div></div>"
      output += "</span>"
      if(json[keys[i]]['number_buffs']==2){
        output += "<span data-toggle='popover' title='"+json[keys[i]]['name_buff2']+"' data-content='"+json[keys[i]]['description_buff2']+"' data-trigger='hover' data-placement='bottom'>"
        output +="<div class='progress unit-bar'><div id='prog-input-"+keys[i].replaceAll(" ", "-")+"-2"+"' class='progress-bar' role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='"+json[keys[i]]['required2']+"'></div></div>"
        output += "</span>"
      }
      output +="</div>";
    }
  }

  if((i%4)!=0)
  {
    output += "</div><div class='row'>";
  }
  output += "</div>";
  document.write(output); 
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  }); 

  $(function () {
  $('[data-toggle="popover"]').popover()
  });

  $(function() {
    $(":input").bind('keyup mouseup', function () {
      update_progress_bar($("#prog-"+$(this).attr("id").replace("-sr", "")), this)
      update_progress_bar($("#prog-"+$(this).attr("id").replace("-sr", "")+"-2"), this)
      update_local_storage(this)
    });
  });
</script>
{% endblock %}